container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 50% 50%;
}

container .part1 {
    background-color: var(--color-black)
} 
container .part2 {
    background-color: var(--color-blue)
}

content {
	width: 98%;
	height: 90%;
	margin-top: 2%;
	padding-bottom: 1rem;
	background-color: var(--color-white);
	justify-self: center;
	align-self: center;
	position: absolute;
	border-radius: 10px;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

content .title {
    margin-left: 2rem;
	margin-top: 2rem;
	font-weight: bolder;
	font-size: 1.5rem;
	text-align: center;
	letter-spacing: -1.5px;
    font-family: var(--font-montserrat);
}

content .subtitle {
    padding-left: 2rem;
    margin-top: -1rem;
	font-weight: 100;
    letter-spacing: -1px;
    text-align: center;
    letter-spacing: -1.5px;
    font-family: var(--font-montserrat);
}

.result {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 65%;
	margin: 0 auto;
}

.discipline, .note {
	margin-left: 2rem;
	margin-top: 2rem;
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	letter-spacing: -1.2px;
    font-family: var(--font-montserrat);
}

.separator {
	width: 22rem;
	margin-left: 1.8rem;
	height: 1rem;
	border-top: 2px dotted #000;
	margin-top: 2.5rem;
}

.buttons {
	width: 20rem;
	margin: 0 auto;
	margin-top: 5rem;
}

.buttons button {
	width: 100%;
	background-color: var(--color-blue);
	outline: none;
	border: none;
	border-radius: 20px;
	letter-spacing: -0.2px;
	letter-spacing: -1px;
    font-family: var(--font-montserrat);
}